*{
    margin: 10;
    padding: 20;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(255, 247, 0);
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
}
